<section class="pt-5 pb-5">
  <div class="container">
    <form>
      <mat-form-field appearance="fill" class="mx-2">
        <mat-label>Find Pokemons by Name</mat-label>
        <input #findPokemon type="text" matInput placeholder="Pikachu" (keyup)="filterPokemonsByType(findPokemon.value)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill" class="mx-2">
        <mat-label>Find Pokemons by Type</mat-label>
        <input #findPokemonByType type="text" matInput placeholder="Grass" (keyup)="filterPokemonsByType(findPokemonByType.value)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
  </div>
</section>


<div class="row py-4 px-5">
  <div class="col-4 mb-2" *ngFor="let pokemon of pokemonsList">
    <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
  </div>
</div>

