<div class="row">
  <div class="d-flex flex-row-reverse mt-4">
    <form>
      <mat-form-field appearance="fill" class="mx-2">
        <mat-label>Find Pokemons</mat-label>
        <input #findPokemon type="text" matInput placeholder="Pikachu" (keyup)="filterPokemons(findPokemon.value)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
  </div>
</div>
<div class="row py-4 px-5">
  <div class="col-4 mb-2" *ngFor="let pokemon of pokemonsList">
    <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
  </div>
</div>
