<section class="pt-5 pb-5">
  <div class="container">
    <form>
      <mat-form-field appearance="fill" class="mx-2">
        <mat-label>Find Pokemons by Name</mat-label>
        <input #findPokemon type="text" matInput placeholder="Pikachu" (keyup)="filterPokemons(findPokemon.value)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
  </div>
</section>
<section class="pt-5 pb-5">
  <div class="container">
      <div class="row">
          <div class="col-6">
              <h3 class="mb-3">PokeDex Bien Prrona</h3>
          </div>
          <div class="col-6 text-right">
              <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                  <i class="fa fa-arrow-left"></i>
              </a>
              <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                  <i class="fa fa-arrow-right"></i>
              </a>
          </div>
          <div class="col-12">
              <div id="carouselExampleIndicators2" class="carousel slide" >
                  <div class="carousel-inner">
                      <div class="carousel-item active">
                          <div class="row">
                            <div class="row py-4 px-5">
                              <div class="col-4 mb-2" *ngFor="let pokemon of pokemonsList">
                                <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
                              </div>
                            </div>
                           </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row">
                      <div class="row py-4 px-5">
                        <div class="col-4 mb-2" *ngFor="let pokemon of pokemonsList">
                          <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
                        </div>
                      </div>
                     </div>
            </div>
                      
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="pt-5 pb-5">
  <div class="container">
    <mat-list>
      <h3 mat-subheader>Pokemon List</h3>
      <mat-list-item *ngFor="let pokemon of pokemonsList">
        <mat-icon mat-list-icon>sentiment_satisfied_alt</mat-icon>
        <h4 mat-line>{{pokemon.name}}</h4>
        <p mat-line class="demo-2"> {{pokemon.species}} </p>
        <mat-divider [inset]="true" ></mat-divider>
      </mat-list-item>
      
    </mat-list>
  </div>
</section>

<div class="row py-4 px-5">
  <div class="col-4 mb-2" *ngFor="let pokemon of pokemonsList">
    <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
  </div>
</div>

